* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family:
    Pretendard,
    "Noto Sans KR",
    Arial,
    sans-serif;
}

button,
input,
select {
  font: inherit;
}